* { 
    margin: 0; 
    padding: 0; 
    list-style: none; 
    box-sizing: border-box; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body { 
    background-color: rgb(255, 208, 216); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
} 
    
.container { 
    background-color: palevioletred; 
    text-align: center; 
    border: 2px solid rgb(163, 85, 111); 
    border-radius: 10px; 
    max-width: 900px; 
    width: 90%;
    padding: 20px;
}

h1 {
    font-size: 50px;
    color: rgb(100, 52, 68);
    margin: 20px;
}

.input-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#itemInput {
    width: 300px;
    padding: 10px 15px;
    border: 2px solid rgb(163, 85, 111);
    border-radius: 20px;
    font-size: 16px;
}

#itemInput:focus {
    outline: none;
    border: 2px solid rgb(100, 52, 68);
}

#addBtn {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(163, 85, 111);
    background-color: rgb(255, 208, 216);
    border: 2px solid rgb(163, 85, 111);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#addBtn:hover {
    background-color: rgb(100, 52, 68);
    color: rgb(255, 208, 216);
    border: 2px solid rgb(255, 208, 216);
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

#shoppingList li {
    background-color: rgb(255, 208, 216);
    padding: 15px;
    margin: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(163, 85, 111);
}

.delete-btn {
    width: 30px;
    height: 30px;
    color: rgb(163, 85, 111);
    background-color: rgb(255, 208, 216);
    border: 2px solid rgb(163, 85, 111);
    border-radius: 50%;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.delete-btn:hover {
    background-color: rgb(100, 52, 68);
    color: rgb(255, 208, 216);
    border: 2px solid rgb(255, 208, 216);
}